
server {
    listen 80;

    server_name {{ server_name }};


    location /static {
        alias  {{ static_dir }};
    }

    location / {
        proxy_pass http://unix:/tmp/{{ project_name }}.socket;
    }
}
